body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
     height: 100vh;
}

h1 {
    text-align: center;
    color: #333;
}

div {
    text-align: center;
    height: 130px;
    width: 400px;
    border-radius: 30px;
    border: 2px  solid black;


}

input {
    padding: 8px;
    margin: 20px;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 20px;

}

input:hover{
    background-color: #334eb960;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgba(255, 217, 0, 0.427);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 30px;
}

button:hover {
    background-color: #45a049;
}

p {
    font-size: 50px;
    margin-top: 10px;
    color: #333;
    background-color: #334eb960;
}
